// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 992px;
$mediaWidthLaptop: 1200px;

//colors
$bg-header-top: #191919;
$bg-header-top-mobile: #303f9f;
$bg-header-main-mobile: #3f51b5;
$top-menu-color: #b4b4b4;
$header-hover-color: #ff4081;
$white-color: #ffffff;
