.article-bd {
  max-width: 820px;
}

.article-bd-large {
  border-radius: 4px;
  border-width: 0;
  height: 100%;

  &__title {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease-out;

    &:hover {
      color: $bg-header-main-mobile;
    }
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.64px;
  }
}

.article-bd-hr {
  border-radius: 4px;
  border-width: 0;
  height: 100%;

  &__body {
    padding-top: 10px;
    padding-bottom: 8px;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease-out;

    &:hover {
      color: $bg-header-main-mobile;
    }
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 0.56px;
  }
}

.article-bd-sm {
  border-radius: 4px;
  border-width: 0;
  height: 100%;

  &__body {
    padding-top: 10px;
    padding-bottom: 8px;
  }

  &__title {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease-out;

    &:hover {
      color: $bg-header-main-mobile;
    }
  }

  &__text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 0.56px;
  }
}

.padding-t-b-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

@include media-tablet {
  .article-bd-hr {
    max-width: 260px;
  }
}
