@import "../mixins/media";

@import "sort-bd";

@import "sidebar-bd";

@import "article-bd";

@import "social-icons";

@import "post-sb";

@import "media-card";

@import "ctr-foto-sings";

.body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  background-color: $bg-body-color;
  padding-top: 91px;

  &__right-bg {
    position: absolute;
    top: 91px;
    right: 0;
    bottom: 0;
    width: 25%;
    background-color: $white-color;
    z-index: 0;
  }

  &__sort {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  &__main-section {
    position: relative;
    z-index: 1;
  }

  &__btns-nav {
    max-width: 820px;
  }

  &__btn-nav {
    display: flex;

    position: relative;
    margin-top: 27px;
    margin-bottom: 43px;
    width: 93px;
    height: 43px;
    font-size: 16px;
    line-height: 43px;
    letter-spacing: 0.8;
    color: $bg-header-top-mobile;
  }

  &__btn-arrow {
    position: relative;
    display: block;
    margin-left: 9px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: $white-color;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 8px);
      left: calc(50% - 8px);
      height: 16px;
      width: 16px;
      background-image: url("../../img/arrow_forward.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

}

@include media-tablet {
  .body {
    margin-top: 69.43px;
  }
}

@include media-tablet-horizontal {
  .sort-bd {
    &__nav {
      border: 1px solid rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      font-family: "Open Sans", sans-serif;
    }

    &__name {
      margin-left: 16px;
      font-weight: 400;
      text-transform: none;

      &::after {
        display: none;
      }
    }

    &__item {
      border-radius: 0;
      padding: 14px 16px;
      margin: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    &__item.active {
      border: 1px solid rgba(0, 0, 0, 0.12);
      background-color: #e3e3e3;
    }

    &__item.active &__link {
      color: $black-color !important;
    }

    &__link {
      text-transform: none;
    }

    &__btn {
      display: inline-block;
    }
  }
}

@include media-laptop {
  .body {
    &__right-bg {
      display: none;
    }

    &__sidebar {
      display: none;
    }
  }
}
