@import "../mixins/media";

@import "sort-bd";

@import "sidebar-bd";

@import "article-bd";

@import "social-icons";

@import "post-sb";

@import "media-card";

@import "ctr-foto-sings";

.body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  background-color: $bg-body-color;
  padding-top: 91px;

  &__right-bg {
    position: absolute;
    top: 91px;
    right: 0;
    bottom: 0;
    width: 25%;
    background-color: $white-color;
    z-index: 0;
  }

  &__sort {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  &__main-section {
    position: relative;
    z-index: 1;
  }

  &__article {

  }
}

@include media-tablet {
  .body {
    margin-top: 69.43px;
  }
}

@include media-tablet-horizontal {
  .sort-bd {
    &__nav {
      border: 1px solid rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      font-family: "Open Sans", sans-serif;
    }

    &__name {
      margin-left: 16px;
      font-weight: 400;
      text-transform: none;

      &::after {
        display: none;
      }
    }

    &__item {
      border-radius: 0;
      padding: 14px 16px;
      margin: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    &__item.active {
      border: 1px solid rgba(0, 0, 0, 0.12);
      background-color: #e3e3e3;
    }

    &__item.active &__link {
      color: $black-color !important;
    }

    &__link {
      text-transform: none;
    }

    &__btn {
      display: inline-block;
    }
  }
}

@include media-laptop {
  .body {
    &__right-bg {
      display: none;
    }

    &__sidebar {
      display: none;
    }
  }
}
