.subscribe {
  background-color: #212121;
  background-image: url("../../img/bg-footer-subscribe.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__ctr {
    height: 200px;
  }

  &__form {
    width: 100%;
  }

  &__text {
    font-size: 42px;
    font-weight: 900;
    letter-spacing: 2.1px;
    color: $white-color;
    margin-bottom: 0;
  }

  &__input {
    width: 270px;
    height: 45px;
    padding-left: 20px;
    background-color: $bg-footer-bottom;
    border-radius: 22px;
    border: 1px solid $white-color;
    opacity: 0.38;
    font-size: 16px;
    color: $white-color;
    outline-color: none;
  }

  &__button {
    width: 170px;
    height: 45px;
    background-color: $bg-header-top-mobile;
    padding: 0;
    box-shadow: 0 17px 24px rgba(48, 63, 159, 0.2);
    border-width: 0;
    border-radius: 22px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: $white-color;

    &:hover {
      color: $top-menu-color;
    }
  }
}
