.top {
  min-height: 540px;
  background-color: $bg-footer-top;

  &__title {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.15px;
    color: $white-color;
  }

  &__fotos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    color: white;
  }

  &__tags {
    font-family: "Open Sans";
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  &__tag-item {
    display: block;
    padding: 0 15px;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    letter-spacing: 0.56px;
    background-color: $bg-footer-top;
    color: $white-color;
    border: 1px solid $white-color;
    opacity: 0.7;
    cursor: pointer;
  }

  &__mobile-logo {
    margin-top: 45px;
    margin-bottom: 28px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.46px;
    color: $white-color;
  }

  &__mobile-text {
    color: $white-color;
    opacity: 0.5;
    font-size: 14px;
    letter-spacing: 0.56;

  }

  &__mobile-btn {
    border-radius: 16px;
    background-color: $bg-footer-bottom;
    font-size: 14px;
    opacity: 0.7;
    text-transform: uppercase;
    color: $white-color;
    letter-spacing: 0.8px;
  }

  &__mobile-img-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 19px;
  }
}
